target/test-classes
target/surefire-reports
target/maven-status
target/maven-archiver
target/maven-archiver
target/generated-test-sources
target/generated-sources
target/*.original
target/*

# IDE - VSCode
.vscode
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# System Files
*.DS_Store
Thumbs.db

src/main/resources/application.yml.test
src/main/resources/import.sql